streamlit
langchain
langchain-community
langchain-core
langchain-chroma
langchain-huggingface
langchain-groq
langchain-text-splitters
chromadb
huggingface-hub
pypdf
python-dotenv
sentence-transformers
